body {
    background: url("https://www.whatson-web.com/front/images/team.jpg") no-repeat;
    background-size: 100%
}
#BLOC {
    position: absolute;
    background-color: white;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px;
    border-radius: 10px;
    z-index:10;
    opacity:0.7;
    filter:alpha(opacity=50);
}

#button {
    margin-top: 30px;
    margin-left: 180px;
    border-radius: 10px;
    background-color: #0995ff;
}
#input1 {
    margin-left: 35px;
    margin-bottom: 20px;
    border: 1px solid black;
}

#input2 {

    border: 1px solid black;
}