#buttonRegion {
  width: 30%;
  background-color: #af4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#buttonDisconnect {
  position: absolute;
  top: 50px;
  right: 50px;
}
